/* About Us */

.about-us {
    margin: 0 auto;
    max-width: 1144px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about-us__desc {
    display: grid;
    gap: 32px;
    align-content: center;
}

.about-us__title {
    font-size: 32px;
    font-weight: 600;
}

.about-us__text {
    font-size: 16px;
    color: #5B5B5B;
    line-height: 2;
}

.about-us__btn {
    justify-self: flex-start;
}

.about-us__img {
    border-radius: 24px;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1139px) {
    .about-us__title {
        font-size: 26px;
    }

    .about-us__text {
		font-size: 14px;
    }

}

@media (max-width: 949px) {
    .about-us {
        gap: 24px;
    }
}

@media (max-width: 640px) {
    .about-us {
        grid-template-columns: 1fr;
    }

    .about-us__desc {
        gap: 18px;
    }

}